<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="MEAL HUB"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hi">

        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="true" />
        <activity
            android:name=".TrackOrderActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentFailedActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".OrderActivity"
            android:exported="true" />
        <activity
            android:name=".ProductDetailActivity"
            android:exported="true" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".regactivity"
            android:exported="true" />
        <activity
            android:name=".activitybreakfast"
            android:exported="true" />
        <activity
            android:name=".loginactivity"
            android:exported="true" />
        <activity
            android:name=".dinneractivity"
            android:exported="true" />
        <activity
            android:name=".lunchactivity"
            android:exported="true" />
        <activity
            android:name=".activityhome1"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".OrderPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".OrderTrackingDetailActivity"
            android:exported="false" />

        <!-- FCM Service -->
        <service
            android:name=".service.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- FCM Default Channel -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="meal_hub_notifications" />
    </application>

</manifest>